/* faq tabs*/


.main-faq{
	background-color: black;

}
.faq-h1 {
	text-align: center;
	font-size: 45px;
	margin-top: 9px;
	padding-top: 5%;
	padding-bottom: 1px;
	

}
.faqs {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 5px;
}

.faq {
	 margin: 10px;
	 padding: 20px;
	 background-color: #333232;

	 }
.faq-question{
	 position: relative;
	 font-size: 20px;
	 padding-right: 80px;
	 font-size: 1.6rem;

}
 .faq-question::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 10%;
	height: 30%;
	padding: 5px;

	background-image: url("../images/arrow-141-24.ico");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}
.faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;

}
 .faqopen .faq-question{
	margin-bottom: 15px;
}

.faqopen .faq-question::after{
	transform: translateY(-50%) rotate(180deg);
}
.faqopen .faq-answer {
	max-height: 1000px;
	opacity: 1;
}
.signUp{
	display: flex;
	padding-left: 5%;
	padding-top: 8%;
	padding-bottom: 2%;
}
.offerbtn {
	display: inline-block;
	background: var(--main-red);
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 1rem;
	border-radius: 0.1875rem;
	font-size: 1.5rem;
	text-align: center;
	box-shadow: 0 1px 0 rgba(0,0,0,0.45); 
	transition: background 0.2s ease-in;
	color: white;
	cursor: pointer; 
	}
.offerbtn:hover {
		background: var(--main-red-hover);
	}

.paragraph {
	font-size: 1.25rem;
	padding-left: 10%;
	margin: 0 auto;
	padding-bottom: 5rem;



}

.Icon{
	vertical-align: bottom;
	margin-left: 1.5rem;
}
.input {
	display: inline-block;
	border: none;
	outline: none;
	padding: 1rem;
	border-radius: 0.0875rem;
	font-size: 1.5rem;
	text-align: start;
	width: 30rem;

	
}

